.gradient::before,
.gradient::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
  z-index: 2;
}

.gradient::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgb(250, 250, 250),
    rgba(255, 255, 255, 0)
  );
}

.gradient::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgb(250, 250, 250),
    rgba(255, 255, 255, 0)
  );
}
